#about{
	width: 100%;
	position: relative;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	
}
/*  icon  */
#about .title-about{
	
	font-size: 94px;
	text-transform: capitalize;
	margin-left: 30px;
	
}
#about .icon-title-about{
	width: 810px;
	position: absolute;
	top: -150px;
	left: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}
#about .icon-title-about .icon .usd{
	margin-top: 20px;
	color: #2aa150;
	font-size: 100px;
	animation:moneyDance 3s ease-in-out infinite;
}
@keyframes  moneyDance{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-1rem);
	}
	100%{
		transform: translateY(0);
	}
}

#about .icon-title-about .icon{
	position: relative;
	height: 100px;
	width: 200px;
	
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	
}
.icon-setting ion-icon{
	font-size: 50px;
}
.icon-setting ion-icon:nth-child(1){
	color: #57bf78;
	font-size:55px;
	animation: animate1 3s linear infinite;
}

@keyframes animate1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.icon-setting ion-icon:nth-child(2){
	color: #57bf78;
	position: relative;
	top: 30px;
	right: 25px;
	font-size: 45px;
	animation: animate2 2s linear infinite;
}

@keyframes animate2{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.icon-setting ion-icon:nth-child(3){
	color: #57bf78;
	position: relative;
	top: -5px;
	right: 10px;
	font-size: 44px;
	animation: animate3 1.7s linear infinite;
}

@keyframes animate3{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
/*
--------box styls about--------
*/

#about .box1{
	width: 80%;
	
	
	margin-bottom: 80px;
	
}
#about .box1 .title-box{
	
	display: flex;
	justify-content: space-between;
}
#about .box1 .title-box h1{
	font-size: 60px;
	padding: 20px 0px;
	font-family: 'Rubik', sans-serif;
	text-transform: capitalize;

}
#about .box1 .title-box #price{
	font-size: 55px;
	
	color: black;
}
/*-------icon-------*/
#about .box1 .title-box .icon-h1-about{
	font-size: 80px;
	position: relative;
	top: 10px;
	left: -140px;
}
#about .box1 .title-box .cart-shopping{
	position: relative;
	top: 10px;
	left: -100px;
}
#about .box1 .title-box .fa-children{
	left: -20px;
	font-size: 70px;
}
#about .box1 .title-box .pen-icon{
	left: -20px;
	font-size: 70px;
	
}


/*----------------*/
#about .box1 .p-box{
	width: 100%;
	
}
#about .box1 .p-box p{
	font-size: 45px;
	line-height: 60px;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}
#about .box1 .icon-box{
	width: 100%;
	height: 200px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#about .box1 .icon-box .join-box{
	width: 300px;
	height: 100px;
	background: #577575;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#about .box1 .icon-box .join-box a{
	color: white;
	font-size: 40px;
	text-decoration: none;
	text-transform: capitalize;
	
}







